@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-y-90 {
    transform: rotateY(90deg);
  }
  .rotate-x-90 {
    transform: rotateX(90deg);
  }
}
